/*Boton principal*/
.button {
    background-color: rgb(3, 3, 61);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.button:hover {
    background-color: rgb(21, 78, 97);
}
/*Varieda de botones*/
.button-outline {
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 2px solid blue;
    transition: border-color 0.2s ease;
}

.button-text {
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 16px;
    text-decoration: underline;
}

.button-disabled{
    box-shadow: none;
    cursor: not-allowed;
}
.button-disabled:hover {
    background-color: rgb(3, 3, 61);
}


.button-disabled-shadow {
    box-shadow: none;
    cursor: not-allowed;
    /* Aññadir un efecto de sombra */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}
.button-disabled-shadow:hover {
    background-color: rgb(3, 3, 61);
}

.button-sm {
    font-size: 14px;
    padding: 8px 16px;
}

.button-md {
    font-size: 18px;
    padding: 12px 24px;
}

.button-lg {
    font-size: 22px;
    padding: 16px 32px;
}

.button-primary {
    background-color: #007bff;
    color: #fff;
}

.button-secondary {
    background-color: #6c757d;
    color: #fff;
}

.button-danger {
    background-color: #dc3545;
    color: #fff;
}

