.container-class {
    margin: auto;
    width: 80%;
    /* Centra el elemento */
    background-color: #185292;
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.2s ease;
    /* A単単adir un efecto de sombra */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
}
.container-class>div {
    margin: 3%;
}

.Titulo{
    color: aliceblue;
    font-size: 200%;
    font-weight: bold;
    text-align: center;

}

.BotonesBasicos {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas:
        'label0 label1 label2 label3';
    gap: 0px;
    height: 100%;
}

.BotonesDesahbilitar {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas:
        'label0 label1 label2 label3';
    gap: 0px;
    height: 100%;
}

.BotonesIconos {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 25% 25% 25% 25% ;
    grid-template-areas:
        'label0 label1 label2 label3 label4';
    gap: 0px;
    height: 100%;
}

.BotonesTama単os {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    grid-template-areas:
        'label0 label1 label2';
    gap: 0px;
    height: 100%;

}

.BotonesColores {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas:
        'label0 label1 label2 label3';
    gap: 0px;
    height: 100%;
}

p{
    color: aliceblue;
    font-size: 100%;
    text-align: center;
}

.BotonModificable{
    display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 50% 50% ;
        grid-template-areas:
            'label0 label1';
        gap: 0px;
        height: 100%;
}

/* Estilos para los elementos select */
select {
    /* Estilos de borde y fondo */
    border: 1px solid #ccc;
    background-color: #fff;
    /* Estilos de fuente */
    font-size: 16px;
    font-family: sans-serif;
    /* Estilos de tama単o y margen */
    padding: 8px;
    width: 200px;
    margin: 8px 0;
}


.Checkbox{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 50% 5% ;
    grid-template-areas:
        'label0 label1 ';
    gap: 0px;
    height: 100%;
}
